
* {
  font-family: 'Courier New', Courier, monospace;
  margin: 0px;
}
body {
  background:#333 url(https://static.tumblr.com/maopbtg/a5emgtoju/inflicted.png) repeat; 
  color: #FFF;
  
}
h1 {
  font-size: 80px;
  /* background-colorgba(6, 6, 7, 0.851)dd9; */
  margin: 10px 30px 30px 10px;
  padding: 50px 0px 40px 120px;
  height: 60px;
  color: black;
  border-bottom: 5px solid whitesmoke;
  background-image:url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png), url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
  background-repeat:repeat-y, repeat;
}

#top-section, #side-bar, #note-list, .note-card, #note-form, .save-note, #note-header{
  display: flex;
  flex-wrap: wrap;
}
h1, #side-bar, #note-list, #notes, .note-card, .update, .update-me{
  border-radius: 10px;
}
.note-card, #note-form, #side-bar {
  flex-direction: column;
}

#top-section {
  margin: 0px 80px 80px 40px;
}

#side-bar {
  margin: 120px 0px 10px 150px;
  /* border: 5px solid whitesmoke; */
  width: 700px;
}

#note-body input {
  font-size: 30px;
}

#note-form {
  padding-bottom: 30px;
  margin-left: 100px;
}

.note-label, .filter-label, .sort-option, .highlight-label {
  font-size: 30px;
  margin: 20px 100px 5px 100px;
  font-weight: 600;
}

#notes {
  /* background-color: rgb(33 150 243 / 7%); */
  margin: 0px 20px 0px 10px;
}

#note-list {
  margin: 5px 50px 0px 40px;
  justify-content: space-around;
  border-top: 5px solid whitesmoke;
  border-bottom: 5px solid whitesmoke;
  padding-top: 40px;
}

 .note-card {
  margin: 5px 10px 80px 0px;
  padding-right: 10px;
  padding-left: 10px;
  /* background-color: rgba(100, 148, 237, 0.789); */
}

.header-div {
  margin: 10px 10px 10px 10px;
}
.header-div i {
  padding-left: 15px;
  font-size: xx-large;
}
.highlight {
  background-color: rgba(100, 148, 237, 0.789);

  /* background-color: #de3bffa3; */
}

.time-created, .time-modified {
  font-size: 19px;
  text-align: right;
  font-weight: 500;
  margin-right: 10px;
}

.save-note {
  width: 140px;
  border: 3px solid hsl(200deg 2% 26% / 72%);
  border-radius: 8px;
  background-color: whitesmoke;
  color: black;
  font-size: 25px;
  margin-top: 20px;
  margin-left: 510px;
  justify-content: center;
  font-weight: 600;
}

.hideme {
  display: none;
}

.update-me {
  margin-left: 15px;
  font-size: 20px;
  font-weight: 600;
}

.note-body, #note-body, .body-edit {
	width:420px;
	/* overflow:hidden; */
	background-color:#FFF;
	color:#222;
	font-family:Courier, monospace;
	font-weight:normal;
	font-size:24px;
	/* resize:none; */
  line-height:40px;
  padding: 5px 50px 35px 100px;
	background-image:url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png), url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
	background-repeat:repeat-y, repeat;
	-webkit-border-radius:12px;
	border-radius:12px;
	-webkit-box-shadow: 0px 2px 14px #000;
	box-shadow: 0px 2px 14px #000;
	border-top:1px solid #FFF;
  border-bottom:1px solid #FFF;
  margin: 5px;
}

.note-header, #note-header, .header-edit, #filter-word, #highlight-word {
	background-color:transparent;
	border-bottom:3px solid #FFF;
	color:#FFF;
	font-size:25px;
	font-family:Courier, monospace;
	height:30px;
	font-weight:500;
	width:370px;
}
#note-header, #note-body, #filter-word, #highlight-word {
  margin-left: 100px;
}

.highlight-label {
  margin-top: 60px;
}

.sort-option {
  margin-top: 120px;
}

#sort {
  font-size: 25px;
  font-weight: 600;
}
.update {
  background:#333 url(https://static.tumblr.com/maopbtg/a5emgtoju/inflicted.png) repeat; 
  /* border: 3px solid rgb(245, 245, 71); */
  
}

.submit-filter, .submit-highlight, .clear-filter, .clear-highlight {
  text-align: center;
  background-color: whitesmoke;
  color: black;
  border: 3px solid hsl(200deg 2% 26% / 72%);
  border-radius: 8px;
  width: 95px;
  margin-left: 30px;
  font-size: 25px;
  font-weight: 600;
}

.filter, .highlight-keyword {
  display: flex;
  margin-top: 10px;
}

textarea {
  border-top-style: inset;
  border-left-style: inset;
  border-right-style: inset;
}